.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  .flashcard-buttons {
    display: inline-block;
    width: 15%;
    padding: 6px 30px;
    background: #00ccff;
    color: #000;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    margin: 17% 0;
  }