@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.library-title {
    font-family: "Audiowide", cursive;
    padding-top: 3%;
    font-weight: 400;
}

.library-info {
    width: 60%;
    text-align: justify;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: 300;
}

@media (max-width: 1280px) {

    }
    /* end: 1280px */
    
    /* start: 1024px */
    @media (max-width: 1024px) {
    
    }
    /* end: 1024px */
    
    /* Start: 993px*/
    @media (min-width: 993px) and (max-width: 1024px) {
      
    }
    
    /* start: 992px */
    @media (min-width: 769px) and (max-width: 992px) {
      
    }
    /* end 992px */
    
    /*start 768px */
    @media (max-width: 768px) {
      
    }
    /* end: 768px */
    
    /* start: 500px */
    @media (max-width: 500px) {
      
    }
    
    /* Start: 375px */
    @media (max-width: 375px) {
    
    }
    