@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.category-title {
  font-family: "Audiowide", cursive;
  letter-spacing: 2px;
  font-size: 2.3rem;
  color: #fff;
  margin-bottom: 10px;
}