@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
:root {
  --main-color: #3c2846;
  --light-pink: #ca90e0;
  --dark-purple: #1c1320;
}

* {
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.user-question {
  text-align: center;
  padding: 5%;
  color: #d400d4;
  font-weight: 300;
}

.user-answer {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.2em;
  text-align: justify;
  padding: 0 10% 0 10%;
}

.listed-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.listed-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-button {
  display: inline-block;
  position: absolute;
  top: 85%;
  right: 15%;
  padding: 6px 30px;
  background: #d400d4;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 15px;
  font-weight: 500;
}

/*start 768px */
@media (max-width: 768px) {
  .question-text {
    font-size: 16px;
    font-weight: 300;
  }

  .user-card {
    width: 250px;
    height: 350px;
    margin: 0;
  }
}
/* end: 768px */
