.flashcards-list-container {
    width: 100vw;
    min-height: 90vh;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    margin: 0 auto;
}

.flashcards-wrapper {
    width: 100%; 
}

.flashcards-wrapper h1 {
    margin-bottom: 1%;
}

.flashcards-wrapper h3 {
    margin-bottom: 1%;
}

.flashcards-wrapper h3 ion-icon {
    font-size: 18px;
}

.flashcards-container {
    width: 80vw;
    padding-left: 10%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.no-cards {
    background: url('../../images/no-cards.png') right center no-repeat;
}

.left-container {
    width: 40%;
    position: absolute;
    top: 30%;
    left: 15%;
    background: transparent;
    padding: 5%;
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 78px 10px rgba(202,144,224,1);
    -moz-box-shadow: 10px 10px 78px 10px rgba(202,144,224,1);
    box-shadow: 10px 10px 78px 10px rgba(202,144,224,1);
}

.no-cards-heading {
    font-size: 24px;
}

.main-categories-links {
    margin: 1% 0 3% 0;
    padding-bottom: 40px;
    width: 50%;
}

.active-main {
    color: #ca90e0;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    margin: 0 1%;
    padding-bottom: 5px;
    border-bottom: 4px solid #ca90e0;
}

.category-normal-link {
    color: #ca90e0;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    margin: 0 1%;
}

.category-normal-link:hover,
.active-main:hover {
    color: #E7D4F6;
}

@media (max-width: 1280px) {

    }
    /* end: 1280px */
    
    /* start: 1024px */
    @media (max-width: 1024px) {
    
    }
    /* end: 1024px */
    
    /* Start: 993px*/
    @media (min-width: 993px) and (max-width: 1024px) {
      
    }
    
    /* start: 992px */
    @media (min-width: 769px) and (max-width: 992px) {
      
    }
    /* end 992px */
    
    /*start 768px */
    @media (max-width: 768px) {
      
    }
    /* end: 768px */
    
    /* start: 500px */
    @media (max-width: 500px) {
      
    }
    
    /* Start: 375px */
    @media (max-width: 375px) {
    
    }
    