.flashcards-list-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    margin: 0 auto;
}

.flashcards-wrapper {
    width: 100%; 
}

.flashcards-wrapper h1 {
    margin-bottom: 1%;
}

.flashcards-wrapper h3 {
    margin-bottom: 1%;
}

.flashcards-wrapper h3 ion-icon {
    font-size: 18px;
}

.flashcards-container {
    width: 80vw;
    padding-left: 20%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    justify-content: center;
    align-items: center;
}

.card-list-titles {
    padding-left: 5%;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 3%;
}

.card-list-titles h1 {
   color:#ca90e0;
}

.flashcards-list-menu {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: #ca90e0;
    padding: 15px 0;
    margin: 0;
    list-style: none;
    font-size: 23px;
}

.flashcards-list-menu a {
    text-decoration: none;
    color: #fff;
}