@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
:root {
  --main-color: #3c2846;
  --light-pink: #ca90e0;
  --dark-purple: #1c1320;
}

.edit {
    width: 30vw;
    background: #2a1d30;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    border-radius: 25px;
    box-shadow: 0px 3px 56px 23px rgba(196,146,217,0.75);
    -webkit-box-shadow: 0px 3px 56px 23px rgba(196,146,217,0.75);
    -moz-box-shadow: 0px 3px 56px 23px rgba(196,146,217,0.75);
}

.edit-form {
    padding: 5% 3%;
    width: 90%;
}

.edit-form h1 {
    margin-bottom: 30px;
    color:#ca90e0;
}

.edit-form label {
    font-size: 20px;
}

.edit-form .category {
    color: #000;
}

.edit-form .category option {
    color: #000;
}

.edit-form div {
    margin-bottom: 30px;
}

.edit-form textarea {
    margin-top: 10px;
    color: #000;
    outline: none;
}

.edit-form textarea {
    padding: 10px;
    width: 95%;
}

#question-area {
    height: 100px;
}

#answer-area {
    height: 200px;
}

.editBtn {
    width: 45%;
    display: inline-block;
    padding: 10px 50px;
    margin-right: 2%;
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--light-pink);
    outline: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0px 3px 26px -1px rgba(196,146,217,0.25);
    -webkit-box-shadow: 0px 3px 26px -1px rgba(196,146,217,0.25);
    -moz-box-shadow: 0px 3px 26px -1px rgba(196,146,217,0.25);
}