@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --main-color: #3c2846;
    --light-pink: #ca90e0;
    --dark-purple: #1c1320;
}

body {
  font-family: "Roboto Mono", monospace;
}

.profile-page {
  min-height: 100vh;
  width: 100%;
}

#profile-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  background: linear-gradient(to bottom, var(--dark-purple), var(--main-color));
  width: 100%;
  height: auto;
  color: #121b00;
  overflow: hidden;
  padding: 5% 0;
  margin: 0;
}

.wrapper {
  border: 1px solid #47596b;
  padding: 20px;
  margin-bottom: 40px;
}

.wrapper h4 {
  margin-bottom: 10px;
  padding-bottom: 40px;
}

#left-container {
  grid-column: 1;
  width: 100%;
  padding-top: 1%;
  padding-left: 2%;
  padding-bottom: 5%;
  margin: 0;
}

#right-container {
  grid-column: 2;
  margin-top: 5%;
  width: 70%;
}

#user-image-container {
  width: 100%;
  margin-top: 10%;
  margin-left: 50px;
}

#picture-container {
  position: absolute;
  width: 15%;
  margin-top: -19%;
}

#user-image {
  display: block;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #647c96;
}

#user-image:hover {
  border: 5px solid #bde1df;
}

#username-style {
  position: absolute;
  color: #000;
  font-size: 30px;
  margin-top: -4%;
}

#user-details h2,
#right-container h2 {
  margin: 30px 0;
  background-color: #f9ecf2;
  color: var(--dark-purple);
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
}

#user-details {
  width: 80%;
  margin-top: 20px;
  margin-left: 50px;
}

#header-upload-one {
  cursor: pointer;
  position: absolute;
  margin-top: -5%;
  margin-left: 90%;
  color: #ccc;
  z-index: 5;
  background-color: #647c96;
  border-radius: 50%;
  border: 0.5px solid #eee;
  padding: 10px;
}

#header-upload-two {
  cursor: pointer;
  position: absolute;
  margin-top: -7%;
  margin-left: 10%;
  color: #ccc;
  z-index: 5;
  background-color: #647c96;
  border-radius: 50%;
  border: 0.5px solid #eee;
  padding: 10px;
}

.fa-camera:hover {
  opacity: 0.9;
}

#user-details ul li {
  margin-top: 25px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  list-style: none;
  font-weight: bolder;
  font-size: 20px;
  border-bottom: 1px solid #647c96;
  padding-bottom: 5px;
}

.new-pass-container {
  margin-top: 30px;
}

#new-pass-info-container p {
  margin: 10px 0;
}

#new-password,
#repeat-password {
  cursor: pointer;
  height: 40px;
  border: none;
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  outline: none;
  padding-left: 10px;
  text-align: center;
}

#submitNewPass,
#deleteAccount {
  display: block;
  cursor: pointer;
  background: var(--dark-purple);
  color: #fff;
  border: none;
  font-size: 1.3rem;
  padding: 10px 30%;
  border-radius: 40px;
  border: 1px solid #fff;
  margin: 30px auto;
  letter-spacing: 1px;
}