:root {
  --main-color: #3c2846;
  --light-pink: #ca90e0;
  --dark-purple: #1c1320;
}

.flashcard-container {
  grid-area: flashcard;
  width: 100%;
  padding-left: 15%;
}

.flashcard-container ion-icon {
  color: #ccc;
}

.flashcard-title {
  color: #d400d4;
  padding: 25% 0 5% 0;
  font-weight: 400;
  font-size: 24px;
}

.flashcard-text {
  color: #ccc;
  padding: 0 0 25% 0;
  line-height: 1.5;
}

.flashcard {
  width: 400px;
  height: 500px;
  background: transparent;
  transform: perspective(2000px);
  transition: 1s;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background: transparent;
}

.inner:hover {
  transform: rotateY(-180deg);
}

.flashcard .front {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: 1s ease-in-out;
  transform-origin: left;
  color: #fff;
  text-align: center;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background: var(--light-pink);
  z-index: 2;
}

.flashcard .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  transform: rotateY(180deg);
  color: #fff;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  z-index: 1;
}

.inner::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(2deg) skewY(4deg);
  background: linear-gradient(315deg, #00ccff, var(--dark-purple), #d400d4);
}

.inner::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(2deg) skewY(4deg);
  background: linear-gradient(315deg, #00ccff, var(--dark-purple), #d400d4);
  filter: blur(50px);
}

.flashcard span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-purple);
  font-size: 16px;
}

.flashcard ion-icon {
  font-size: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.question {
  text-align: center;
  padding: 5%;
  color: #d400d4;
}

.answer {
  margin: 0 auto;
  height: 40%;
  width: 85%;
  padding: 1% 7%;
  text-align: justify;
  letter-spacing: 1px;
}

.listed-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.listed-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-button {
  display: inline-block;
  position: absolute;
  top: 85%;
  right: 15%;
  padding: 6px 30px;
  background: #d400d4;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 15px;
  font-weight: 500;
}

@media (max-width: 1280px) {
  .flashcard-container {
    width: 100%;
    padding-left: 5%;
  }
}

@media (max-width: 1024px) {
  .flashcard-text {
    color: #ccc;
    text-align: center;
    padding: 20px 0;
    line-height: 1.2;
  }

  .flashcard-title {
    padding: 20px;
    text-align: center;
  }

  .flashcard-container {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .flashcard {
    margin: 5% auto;
    width: 500px;
    height: 600px;
  }

  .question {
    font-size: 18px;
  }

  .answer {
    height: 30%;
    width: 80%;
    padding: 1%;
    text-align: justify;
    letter-spacing: 0.5px;
    font-size: 18px;
  }

  .front h2 {
    font-size: 18px;
  }

  .back .answer {
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .flashcard-text {
    color: #ccc;
    text-align: center;
    padding: 20px 0;
    line-height: 1.2;
  }

  .flashcard-title {
    padding: 20px;
    text-align: center;
  }

  .flashcard-container {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .flashcard {
    margin: 5% auto;
    width: 350px;
    height: 450px;
  }

  .question {
    font-size: 18px;
  }

  .answer {
    height: 30%;
    width: 80%;
    padding: 1%;
    text-align: justify;
    letter-spacing: 0.5px;
    font-size: 18px;
  }

  .front h2 {
    font-size: 18px;
  }

  .back .answer {
    font-size: 14px;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  .flashcard {
    width: 250px;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .flashcard {
    width: 250px;
    height: 350px;
  }

  .front h2 {
    font-size: 16px;
  }

  .back .answer {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .flashcard-text {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .flashcard {
    width: 230px;
    height: 320px;
  }

  .back-button {
    padding: 4px 15px;
    font-weight: 300;
    font-size: 12px;
  }

  .question {
    margin-top: 10%;
  }
}

@media (max-width: 360px) {
  .flashcard {
    width: 250px;
    height: 350px;
  }

  .back-button {
    padding: 4px 15px;
    font-weight: 300;
    font-size: 12px;
  }

  .question {
    margin-top: 10%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .flashcard {
    width: 220px;
    height: 320px;
  }
}
