.flashcards-wrapper {
    width: 100%;
}

.flashcards-wrapper h1 {
    margin-bottom: 3%;
}

.flashcards-wrapper h3 {
    margin-bottom: 3%;
}

.flashcards-container {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
