.flashcards-list-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    margin: 0 auto;
}

.flashcards-wrapper {
    width: 100%; 
    min-height: 100vh;
}

.flashcards-wrapper h1 {
    margin-bottom: 1%;
}

.flashcards-wrapper h3 {
    margin-bottom: 1%;
}

.flashcards-container {
    width: 80vw;
    padding-left: 10%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.flashcards-wrapper h3 ion-icon {
    font-size: 18px;
}

.card-list-titles {
    padding-left: 5%;
    width: 100%;
    margin-bottom: 5%;
}

@media (max-width: 1280px) {

    }
    /* end: 1280px */
    
    /* start: 1024px */
    @media (max-width: 1024px) {
    
    }
    /* end: 1024px */
    
    /* Start: 993px*/
    @media (min-width: 993px) and (max-width: 1024px) {
      
    }
    
    /* start: 992px */
    @media (min-width: 769px) and (max-width: 992px) {
      
    }
    /* end 992px */
    
    /*start 768px */
    @media (max-width: 768px) {
      
    }
    /* end: 768px */
    
    /* start: 500px */
    @media (max-width: 500px) {
      
    }
    
    /* Start: 375px */
    @media (max-width: 375px) {
    
    }
    