.loader {
    width: 90vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: url('../../../images/loading.png') no-repeat center center;
    padding-bottom: 6%;
}

.loading-clip {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.loader-heading {
    color: #E7D4F6;
}