.loader {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: url('../../../images/loading.png') no-repeat 50% 15%;
    padding-bottom: 10%;
}

.loading-clip {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
}

.loader-heading {
    color: #E7D4F6;
}