.loader {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: url('../../../images/loading.png') no-repeat center center;
}

.loading-clip {
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
}

.loader-heading {
    color: #E7D4F6;
    position: absolute;
    top: 70%;
    margin: 0 auto;
}