@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.practice-title {
    margin-top: 2%;
    font-size: 28px;
    font-weight: 300;
    font-family: "Audiowide", cursive;
    color: #eee;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(202,144,224,1);
}

@media (max-width: 1280px) {

    }
    /* end: 1280px */
    
    /* start: 1024px */
    @media (max-width: 1024px) {
    
    }
    /* end: 1024px */
    
    /* Start: 993px*/
    @media (min-width: 993px) and (max-width: 1024px) {
      
    }
    
    /* start: 992px */
    @media (min-width: 769px) and (max-width: 992px) {
      
    }
    /* end 992px */
    
    /*start 768px */
    @media (max-width: 768px) {
      
    }
    /* end: 768px */
    
    /* start: 500px */
    @media (max-width: 500px) {
      
    }
    
    /* Start: 375px */
    @media (max-width: 375px) {
    
    }
    