@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
:root {
  --main-color: #3c2846;
  --light-pink: #ca90e0;
  --dark-purple: #1c1320;
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "Audiowide", cursive;
}

.header-field {
  display: block;
  position: relative;
  height: auto;
  width: 100vw;
}

.nav-style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100vw;
  background: linear-gradient(to bottom, #000, #1c1320, transparent);
  color: #eee;
  opacity: 0.95;
  border-bottom: 0.5px solid #ca90e0;
}

.ul-style {
  flex-basis: 100%;
}

nav li,
.main-menu li {
  font-size: 18px;
  display: inline-block;
}

.nav-style a {
  text-align: center;
  text-decoration: none;
  color: #eee;
  padding: 40px 45px;
}

nav a:hover {
  font-weight: 500;
  color: var(--light-pink);
}

nav a:hover img {
  display: block;
}

a.glow,
a.glow:hover,
a.glow:focus {
  text-decoration: none;
  color: #eee;
  text-shadow: 2px 2px #647c96;
  -webkit-transition: 400ms linear 0s;
  -moz-transition: 400ms linear 0s;
  -o-transition: 400ms linear 0s;
  transition: 400ms linear 0s;
  outline: 0 none;
}

a.glow:hover,
a.glow:focus,
a:active {
  color: #fff;
  text-shadow: -3px 3px 10px #faf3ea, 3px -3px 10px #faf3ea;
}

.right {
  float: right;
}