@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root {
  --main-color: #3c2846;
  --light-pink: #ca90e0;
  --dark-purple: #1c1320;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  height: auto;
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5%; 
  padding-bottom: 15%;
}

.category-card {
  position: relative;
  width: 320px;
  height: 450px;
  margin: 30px;
  background: #287bff;
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: 0 15px 0 #fff, inset 0 -15px 0 rgba(255, 255, 255, 0.25),
    0 45px 0 rgba(230, 187, 187, 0.15);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.category-card::before {
  content: "";
  position: absolute;
  top: -140px;
  left: -40%;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}

.category-card:nth-child(1) {
  background: linear-gradient(to bottom, #24ff71, #9a4eff);
}

.category-card:nth-child(3) {
  background: linear-gradient(to bottom, #ff2ae0, #645bf6);
}

.category-card:nth-child(2) {
  background: linear-gradient(to bottom, #ffec61, #f321d7);
}

.category-card:hover {
    border: none;
    transform: scale(1.2);
    transition: transform 1.2s ease-in-out;
}

.category-icon {
  position: relative;
  width: 140px;
  height: 120px;
  background: var(--main-color);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0, 0.1), inset 0 -8px 0 #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.category-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px var(--main-color);
}

.category-icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px var(--main-color);
}

.category-icon ion-icon {
  color: #fff;
  position: relative;
  font-size: 6em;
  z-index: 9000;
  --ionicon-stroke-width: 24px;
}

.category-content {
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 140px;
  text-align: center;
}
