@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: "Audiowide", cursive;
    /* font-family: 'Roboto Mono', monospace; */
}

.nav {
    position: fixed;
    top: 0vh;
    left: 0;
    height: 100vh;
    width: 110px;
    background: linear-gradient(to bottom, #ff2ae0, #645bf6);
    box-shadow: 10px 0 0 #ca90e0;
    border-left: 10px solid #3c2846;
    overflow-x: hidden;
    transition: width 0.5s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 9999;
}

.nav:hover {
    width: 300px;
}

.nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 50px;
    height: auto;
}

.nav ul li a {
    position: relative;
    display: block;
    display: flex;
    text-decoration: none;
    color: #fff;
    list-style: none;
    width: 100%;
    letter-spacing: 2px;
    font-size: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.active a {
    background: #ca90e0;
}

.active a::before {
   content: '';
   position: absolute;
   top: -30px;
   right: 0;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background: transparent;
   box-shadow: 15px 15px 0 #ca90e0;
}

.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 15px -15px 0 #ca90e0;
}

.nav ul li a .nav-icon {
    position: relative;
    display: block;
    min-width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.nav ul li a .nav-icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
    padding-right: 10px;
}

.nav-item-title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 100px;
    line-height: 90px;
    white-space: nowrap;
}

.nav-logout-btn {
    display: block;
    padding: 5px 15px;
    color:#fff;
    letter-spacing: 2px;
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}