@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
:root {
  --main-color: #3c2846;
  --light-pink: #ca90e0;
  --dark-purple: #1c1320;
}

.create-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0;
    width: 100vw;
    height: 110vh;
}

.nav {
    grid-column: 1;
}

.create {
    grid-column: 2;
    width: 30vw;
    height: 90vh;
    background: #2a1d30;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin-top: 2%;
    border-radius: 25px;
    box-shadow: 0px 3px 56px 23px rgba(196,146,217,0.75);
    -webkit-box-shadow: 0px 3px 56px 23px rgba(196,146,217,0.75);
    -moz-box-shadow: 0px 3px 56px 23px rgba(196,146,217,0.75);
}

.create-form h1 {
    margin-bottom: 30px;
    color:#fff;
}

.create-form-label {
    padding-bottom: 3%;
    font-size: 22px;
    color: #ca90e0;
}

.create-form div {
    margin-bottom: 30px;
}

.create-form textarea {
    margin-top: 10px;
    color: #000;
    outline: none;
}

#question {
    height: 50px;
    padding: 10px;
    width: 95%;
}

#answer {
    height: 200px;
    padding: 10px;
    width: 95%;
}

.createBtn {
    display: inline-block;
    padding: 15px 70px;
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--light-pink);
    outline: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0px 3px 26px -1px rgba(196,146,217,0.25);
    -webkit-box-shadow: 0px 3px 26px -1px rgba(196,146,217,0.25);
    -moz-box-shadow: 0px 3px 26px -1px rgba(196,146,217,0.25);
}

#checkbox {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 2%;
}