@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.main-info {
    margin-top: 5%;
    background: linear-gradient(to bottom, #3c2846, #533861, #614171, #8b5da2);
    height: auto;
    width: 100vw;
    padding: 5%;
    padding-bottom: 10%;
}

.website-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0 2rem;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    margin: 0 auto 0 10%;
    background: #382541;
    padding: 3%;
    line-height: 1.5;
    -webkit-box-shadow: 10px 10px 48px 10px rgba(202,144,224,1);
    -moz-box-shadow: 10px 10px 48px 10px rgba(202,144,224,1);
    box-shadow: 10px 10px 48px 10px rgba(202,144,224,1);
    border-radius: 10px;
}

.one {
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
    height: 100%;
    padding: 0;
}

.two {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: 100%;
    display: block;
    background: url('../../../images/confused.jpg') left center no-repeat;
    border-radius: 25px;
}

.three {
    grid-column: 1;
    grid-row: 2;
    margin: 0 auto;
    padding-bottom: 15%;
}

.three h2 {
    margin-bottom: 50px;
}

.four {
    grid-column: 2;
    grid-row: 2;
    padding: 0;
}

.category-intro-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
}


.category-intro-heading {
    text-align: center;
    color: #ca90e0;
    font-size: 20px;
    padding: 10px 6%;
}

.links {
    color: #ca90e0;
    text-decoration: none;
    cursor: pointer;
}

.category-intro {
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
    font-size: 16px;
    padding: 10px 50px;
}

.header {
  font-family: "Audiowide", cursive;
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  clip-path: circle(180vh at 50% -80vh);
}

.header-content {
  width: 100vw;
  height: 90vh;
  text-align: center;
}

.header-content h6 {
  color: #6b2e67;
  margin-top: 0;
  padding-top: 0;
  font-size: 45px;
  padding-left: 50%;
}

.header-content h1 {
  font-size: 5em;
  color: #6b2e67;
  font-weight: 700;
  padding-left: 10%;
  padding-bottom: 0;
}

.header-content ion-icon {
  position: relative;
  font-size: 45px;
  z-index: 1;
  color: #6b2e67;
}

@media (max-width: 1280px) {

    }
    /* end: 1280px */
    
    /* start: 1024px */
    @media (max-width: 1024px) {
    
    }
    /* end: 1024px */
    
    /* Start: 993px*/
    @media (min-width: 993px) and (max-width: 1024px) {
      
    }
    
    /* start: 992px */
    @media (min-width: 769px) and (max-width: 992px) {
      
    }
    /* end 992px */
    
    /*start 768px */
    @media (max-width: 768px) {
      
    }
    /* end: 768px */
    
    /* start: 500px */
    @media (max-width: 500px) {
      
    }
    
    /* Start: 375px */
    @media (max-width: 375px) {
    
    }
    