@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

footer {
  position: relative;
  width: 100vw;
  border-top: 0.5px solid #ca90e0;
  background: #2a1c31;
  display: flex;
  padding: 20px 0;
  height: 210px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer small {
  font-size: 14px;
  text-align: center;
  color: #eee;
  font-family: "Roboto Mono", monospace;
}

footer small a {
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
}

footer small p {
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
    color: #fff;
    margin-right: 20px;
    padding: 20px 0;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
    color: #ca90e0;
    margin-right: 20px;
}

.privacy-policy {
  width: 50vw;
  margin: 1% auto;
  text-align: justify;
  padding: 2% 5% 5% 5%;
  background: #2a1c31;
  font-size: 14px;
}

.privacy-policy-title {
  text-align: center;
  margin: 3% 0;
}

.privacy-policy-link {
  text-decoration: none;
  font-size: 14px;
}