@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

footer {
  width: 60vw;
  margin: 0 auto;
  background: linear-gradient(to bottom, #614171, #533861, #3c2846);
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr;
  height: 210px;
  padding: 1%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.left-footer {
  grid-column: 1;
  width: 100%;
  padding: 10% 0;
}

.right-footer {
  grid-column: 2;
  width: 100%;
  padding: 10% 0;
}

footer small {
  font-size: 14px;
  text-align: center;
  color: #eee;
  font-family: "Roboto Mono", monospace;
}

footer small a {
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
}

footer small p {
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  color: #fff;
  margin-right: 20px;
  padding: 20px 0;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
  color: #ca90e0;
  margin-right: 20px;
}

@media (max-width: 1280px) {
  footer {
    width: 90%;
    margin: 0 auto;
  }
}
/* end: 1280px */

/* start: 1024px */
@media (max-width: 1024px) {
  footer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0 auto;
  }

  .left-footer,
  .right-footer {
    padding: 0;
  }
}
/* end: 1024px */

/* Start: 993px*/
@media (min-width: 993px) and (max-width: 1024px) {
  footer {
    width: 65vw;
  }
}

/* start: 992px */
@media (min-width: 769px) and (max-width: 992px) {
  footer {
    width: 60vw;
  }
}
/* end 992px */

/*start 768px */
@media (max-width: 768px) {
  footer {
    width: 55vw;
    margin: 0 auto;
  }

  footer small,
  footer small p,
  footer small a {
    font-size: 10px;
  }
}
/* end: 768px */

/* start: 500px */
@media (max-width: 500px) {
  footer {
    width: 60%;
    margin-left: 25%;
  }
}

/* Start: 375px */
@media (max-width: 375px) {
  footer {
    width: 70%;
    padding: 3%;
    margin-left: 28%;
  }
}
