@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

footer {
  position: relative;
  width: 100vw;
  border-top: 0.5px solid #ca90e0;
  background: #2a1c31;
  display: flex;
  padding: 50px 0;
  height: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}

footer small {
  text-align: center;
  color: #eee;
  font-family: "Roboto Mono", monospace;
}

footer small a {
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
}
