.pagination-nav {
    width: 40vw;
    margin: 0 auto;
    padding-bottom: 5%;
}

.pagination {
    display: flex;
    flex-direction: row;
}

.page-item {
    border: 1px solid #00ccff;
    padding: 8px 16px;
    float: left;
    list-style: none;
    margin: 0 4px;
    border-radius: 5px;
}

.page-link {
    text-decoration: none;
    transition: #00ccff .3s;
}

.minus, 
.plus {
    display: inline-block;
    text-decoration: none;
    margin: 0 4px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.active-pagination {
    background: #00ccff;
    text-decoration: none;
    padding: 6px 14px;
    margin: 0;
}

@media (max-width: 1280px) {

    }
    /* end: 1280px */
    
    /* start: 1024px */
    @media (max-width: 1024px) {
    
    }
    /* end: 1024px */
    
    /* Start: 993px*/
    @media (min-width: 993px) and (max-width: 1024px) {
      
    }
    
    /* start: 992px */
    @media (min-width: 769px) and (max-width: 992px) {
      
    }
    /* end 992px */
    
    /*start 768px */
    @media (max-width: 768px) {
      
    }
    /* end: 768px */
    
    /* start: 500px */
    @media (max-width: 500px) {
      
    }
    
    /* Start: 375px */
    @media (max-width: 375px) {
    
    }
    