:root {
  --main-color: #3c2846;
  --light-pink: #ca90e0;
  --dark-purple: #1c1320;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--main-color);
  margin: 0;
  padding: 0;
}

.no-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
}

.no-cards-heading {
  font-size: 30px;
  margin-bottom: 2%;
}