%loginBtn {
    display: block;
    cursor: pointer;
    background: #ca90e0;
    color: #3c2846;
    border: none;
    font-size: 1.3rem;
    padding: 10px 30%;
    border-radius: 40px;
    border: 1px solid #fff;
    margin: 15px auto;
}

.registerBtn {
   @extend %loginBtn;
}

.createBtn {
    padding: 15px 70px;
    @include buttons();
}

.editBtn {
    width: 45%;
    padding: 10px 50px;
    @include buttons();
}

.nav-logout-btn {
    display: block;
    padding: 5px 15px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.filterBtn {
    font-size: 15px;
    width: 20%;
    padding: 10px 70px;
    margin-bottom: 1%;
    @include buttons();
}

.btn--alt {
    background-color: transparent;
    color: #800040;
}

.btn--alt:hover {
    background-color: #f8dae9;
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #3c2846;
    color: white;
    border: 1px solid #3c2846;
    margin: 0 1rem;
}

.btn:hover {
    background-color: #3c2846;
    border-color: #3c2846;
}

.buttons {
    @include flex(center, row);
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
}

.buttons ion-icon {
    font-size: 16px;
}

%flashcard-buttons {
    width: 25%;
    padding: 15px 30px;
    opacity: 0.7;
    @include buttons();
    background: #1a0016;
    letter-spacing: 1.5px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    margin-top: 5%;
    margin-right: 4%;
    font-size: 18px;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.flashcard-buttons:hover {
    background: linear-gradient(to bottom, #1a0016, #b30098);
    box-shadow: 0px 15px 20px rgba(47, 8, 70, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

%button-disabled {
    @extend %flashcard-buttons;
    width: 45%;
    padding: 15px 25px;
}

.button-remove {
    background: #660057;
    outline: none;
    @extend %button-disabled;
}

@media (max-width: 1280px) {
    .editBtn {
        width: 40%;
        padding: 10px 30px;
        margin-right: 4%;
        font-size: 18px;
    }

    .filterBtn {
        width: 30%;
    }

    .buttons {
        position: relative;
        margin-top: 5%;
    }

    .flashcard-buttons {
        width: 30%;
        font-weight: 400;
    }
}

@media (max-width: 1024px) {
    .editBtn {
        width: 40%;
        padding: 10px 30px;
        margin-right: 4%;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .registerBtn {
        font-size: 1rem;
        padding: 10px 20%;
    }

    .editBtn {
        width: 40%;
        padding: 10px 30px;
        margin-right: 4%;
        font-size: 16px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .button-disabled {
        width: 90%;
        padding: 15px 10px;
        letter-spacing: 1px;
        font-weight: 300;
        font-size: 12px;
        margin-top: 5%;
        margin-right: 4%;
    }

    .button-remove {
        width: 90%;
        padding: 15px 10px;
        letter-spacing: 1px;
        font-weight: 300;
        font-size: 12px;
        margin-top: 5%;
        margin-right: 4%;
    }

    .flashcard-buttons {
        width: 30%;
        padding: 15px 20px;
        letter-spacing: 1.2px;
        font-weight: 300;
        font-size: 14px;
        margin-top: 5%;
        margin-right: 4%;
    }
}

@media (max-width: 500px) {
    .createBtn {
        padding: 5px 40px;
        font-size: 18px;
    }

    .filterBtn {
        width: 50%;
        padding: 10px 40px;
        margin-left: 20%;
    }

    .flashcard-buttons {
        width: 40%;
        font-size: 13px;
    }
}

@media (max-width: 375px) {
    .registerBtn {
        font-size: 1rem;
        padding: 10px 10%;
    }

    .editBtn {
        width: 50%;
        padding: 5px 30px;
        margin-bottom: 4%;
        font-size: 14px;
    }
}