@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root {
    --main-color: #3c2846;
    --light-pink: #ca90e0;
    --dark-purple: #1c1320;
}

* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

.App {
    text-align: center;
}

@mixin flex($alignment: center, $direction: column) {
    display: flex;
    justify-content: center;
    align-items: $alignment;
    flex-direction: $direction;
}

@mixin buttons() {
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--light-pink);
    outline: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0px 3px 26px -1px rgba(196, 146, 217, 0.25);
    -webkit-box-shadow: 0px 3px 26px -1px rgba(196, 146, 217, 0.25);
    -moz-box-shadow: 0px 3px 26px -1px rgba(196, 146, 217, 0.25);
}