  .details-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-gap: 0;
    width: 100vw;
    height: 70vh;
    padding-left: 22%;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    margin: 5% 0;
  }

  .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #1a0016;
    transform: rotateX(90deg) translateZ(150px);
  }

  .top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #660057;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 
    0 0 120px rgba(73, 8, 64, 0.2),
    0 0 200px rgba(136, 30, 122, 0.4),
    0 0 300px rgba(177, 75, 172, 0.6),
    0 0 400px rgba(202, 127, 192, 0.8),
    0 0 500px rgb(219, 182, 213);
  }

  .cube {
    position: absolute;
    top: 20%;
    left: 23%;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 8s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  
  .cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }

  .spanOne {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1a0016, #ff2ae0);
    transform: rotateY(calc(90deg * 0)) translateZ(150px);
    padding: 20%;
    padding-top: 40%;
    text-align: center;
    font-size: larger;
  }

  .spanTwo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1a0016, #ff2ae0);
    transform: rotateY(calc(90deg * 1)) translateZ(150px);
    padding: 20%;
    padding-top: 40%;
    text-align: center;
    font-size: larger;
  }

  .spanThree {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1a0016, #ff2ae0);
    transform: rotateY(calc(90deg * 2)) translateZ(150px);
    padding: 20%;
    padding-top: 40%;
    text-align: center;
    font-size: larger;
  }

  .spanFour {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1a0016, #ff2ae0);
    transform: rotateY(calc(90deg * 3)) translateZ(150px);
    padding: 20%;
    padding-top: 40%;
    text-align: center;
    font-size: larger;
  }
  
  .details-card {
    position: absolute;
    top: 0;
    right: 10%;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 5%;
    grid-column: 2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: justify;
    background: transparent;
    -webkit-box-shadow: 10px 10px 78px 10px rgba(202,144,224,1);
    -moz-box-shadow: 10px 10px 78px 10px rgba(202,144,224,1);
    box-shadow: 10px 10px 78px 10px rgba(202,144,224,1);
    border-radius: 15px;
  }

  .details-heading {
    font-size: 18px;
    margin-bottom: 15px;
    width: 80%;
  }

  .details-title {
    color: #ca90e0;
  }

  .details {
    width: 100%;
    padding: 3%;
    font-size: 25px;
    margin-bottom: 5%;
    background: linear-gradient(to bottom, #1a0016, #3c2846);
    color: #fff;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
  }
  
  .buttons ion-icon {
    font-size: 16px;
  }

  .flashcard-buttons {
    display: inline-block;
    width: 25%;
    padding: 15px 30px;
    background: #1a0016;
    opacity: 0.7;
    color: #fff;
    letter-spacing: 1.5px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 5%;
    margin-right: 4%;
    text-align: center;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .flashcard-buttons:hover {
    background: linear-gradient(to bottom, #1a0016, #b30098);
    box-shadow: 0px 15px 20px rgba(47, 8, 70, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .button-disabled {
    display: inline-block;
    width: 45%;
    padding: 15px 25px;
    background: #1a0016;
    opacity: 0.7;
    color: #fff;
    letter-spacing: 1.5px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 5%;
    margin-right: 4%;
    text-align: center;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
    pointer-events: none;
  }

  .button-remove {
    display: inline-block;
    width: 45%;
    padding: 15px 25px;
    background: #660057;
    opacity: 0.7;
    color: #fff;
    letter-spacing: 1.5px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 5%;
    margin-right: 4%;
    text-align: center;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  @media (max-width: 1280px) {

    }
    /* end: 1280px */
    
    /* start: 1024px */
    @media (max-width: 1024px) {
    
    }
    /* end: 1024px */
    
    /* Start: 993px*/
    @media (min-width: 993px) and (max-width: 1024px) {
      
    }
    
    /* start: 992px */
    @media (min-width: 769px) and (max-width: 992px) {
      
    }
    /* end 992px */
    
    /*start 768px */
    @media (max-width: 768px) {
      .button-disabled {
        width: 90%;
        padding: 15px 10px;
        letter-spacing: 1px;
        font-weight: 300;
        font-size: 12px;
        margin-top: 5%;
        margin-right: 4%;
      }
    
      .button-remove {
        width: 90%;
        padding: 15px 10px;
        letter-spacing: 1px;
        font-weight: 300;
        font-size: 12px;
        margin-top: 5%;
        margin-right: 4%;
      }
    }
    /* end: 768px */
    
    /* start: 500px */
    @media (max-width: 500px) {

    }
    
    /* Start: 375px */
    @media (max-width: 375px) {

    }
    